<!DOCTYPE html>
<html>
    <head>
        <title>node로 만드는 게시판</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/menu-button.css">
    </head>
    <body>
        <%-include('sidebar')%>
        <%-include('navi-bar')%>
        <div id="content">
            <div id="board-title">
                <% if (type=='all') { %>
                    전체글 보기
                <% } else { %>
                    <%=type%>
                <% } %>
            </div>
            <div id="wrap-upper">
                <button type="button" class="btn btn-secondary" id="post-button" onclick="writePost()">글쓰기</button>
            </div>
            <div id="wrap-inner">
                <div id="inner-left">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>작성자</th>
                            <th>제목</th>
                            <th>조회수</th>
                            <th>추천수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%  for(let post of postData){ %>
                            <tr onmouseover="this.style.backgroundColor='#CCCCCC'" onmouseout="this.style.backgroundColor='#FFFFFF'" onclick="location.href='/view?id=<%=post.ID%>'">
                                <th><%=post.ID%></th>
                                <th><%=post.AUTHOR%></th>
                                <th><%=post.TITLE%></th>
                                <th><%=post.VIEWS%></th>
                                <th><%=post.THUMBUP%></th>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                    <div id="pages">
                        <hr>
                        <% if(page>1) { %>
                            <a class="btn btn-default" href="/list?type=<%=type%>&page=<%=Number(page)-1%>" role="button">이전</a>
                        <% } %>
                        <%=page%> of <%=maxPage%>
                        <% if(page < maxPage) { %>
                            <a class="btn btn-default" href="/list?type=<%=type%>&page=<%=Number(page)+1%>" role="button">다음</a>
                        <% } %>
                        <input type="text" placeholder="<%=page%>" id="target-page">
                        <button class="btn btn-default" onclick="location.href='/list?type=<%=type%>&page='+$('#target-page').val()" role="button">이동</a>
                    </div>
                </div>
                <%-include('inner-right')%>
            </div>
        </div>
    </body>
    <script src="/jq/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="javascripts/effect.js"></script>
    <script src="javascripts/functions.js"></script>
</html>