<!DOCTYPE html>
<html>
    <head>
        <title>node로 만드는 게시판</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/menu-button.css">
    </head>
    <body>
        <%-include('sidebar')%>
        <%-include('navi-bar')%>
        <div id="content">
            <div id="board-title">
                <%=type%>
            </div>
            <div id="wrap-inner">
                <div id="inner-left">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>작성자</th>
                            <th>제목</th>
                            <th>조회수</th>
                            <th>추천수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%  for(let post of postData){ %>
                            <tr>
                                <th><%=post.ID%></th>
                                <th><%=post.AUTHOR%></th>
                                <th><a href="/view?id=<%=post.ID%>"><%=post.TITLE%></a></th>
                                <th><%=post.VIEWS%></th>
                                <th><%=post.THUMBUP%></th>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <%-include('inner-right')%>
            </div>
        </div>
    </body>
    <script src="/jq/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="javascripts/effect.js"></script>
</html>