<!DOCTYPE html>
<html>
    <head>
        <title><%= id %> 조회</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/menu-button.css">
    </head>
    <body>
        <%-include('sidebar')%>
        <%-include('navi-bar')%>
        <div id="content">
            <div id="wrap-inner-view">
                <div id="view-left">
                    <div id="view-post">
                        <div id="post-head">
                            <div id="post-title"><%=title%></div>
                            <hr>
                            <div id="post-authorandtype"><%=author%> / <a href="/list?type=<%=type%>"><%=type%></a></div>
                            <div id="post-views">조회수 <%=views%></div>
                            <div style="clear:both"></div>
                            <hr>
                        </div>
                        <div id="post-body">
                            <%-content%>
                        </div>
                        <hr>
                        <div id="post-thumbuparea">
                            <span id="thumbup-count"><%=thumbup%></span><br>
                            <a onclick="thumbup(<%=id%>)" onmouseover="this.style.cursor='pointer'"><img src="/images/thumbup.svg" alt="추천하기"></a>
                        </div>
                        <% if(isLogined==0) { %>
                            <hr>
                            <div id="modify-or-update">
                                <button type="button" class="btn btn-danger" id="delete-btn" name="delete" onclick="
                                javascript:
                                    if(confirm('정말로 삭제하시겠습니까?')){
                                        removePost(<%=id%>);
                                    }
                                ">삭제</button>
                                <button type="button" class="btn btn-primary" id="modify-btn" name="modify" onclick="updatePost(<%=id%>)">수정</button>
                                <input type="password" id="delete-password" placeholder="비밀번호" required minlength="4" maxlength="20">
                            </div>
                        <% } else if (user && user.nickname == author) { %>
                            <hr>
                            <div id="modify-or-update">
                                <input type="hidden" id="user-id" value="<%=user.id%>">
                                <button type="button" class="btn btn-danger" id="delete-btn" name="delete" onclick="
                                javascript:
                                    if(confirm('정말로 삭제하시겠습니까?')){
                                        removePost(<%=id%>);
                                    }
                                ">삭제</button>
                                <button type="button" class="btn btn-primary" id="modify-btn" name="modify" onclick="updatePost(<%=id%>)">수정</button>
                            </div>
                        <% } %>
                    </div>
                    <div id="reply-upper">
                        <a onclick="showReply(<%=id%>)" onmouseover="this.style.cursor='pointer'">댓글보기</a>
                    </div>
                    <div id="reply-area">
                    </div>
                </div>
                <%-include('inner-right')%>
            </div>
        </div>
    </body>
    <script src="/jq/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="javascripts/effect.js"></script>
    <script src="javascripts/functions.js"></script>
</html>