<!DOCTYPE html>
<html>
    <head>
        <title><%= id %> 조회</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/menu-button.css">
    </head>
    <body>
        <%-include('sidebar')%>
        <%-include('navi-bar')%>
        <div id="content">
            <div id="wrap-inner-view">
                <div id="view-left">
                    <div id="view-post">
                        <div id="post-head">
                            <div id="post-title"><%=title%></div>
                            <hr>
                            <div id="post-authorandtype"><%=author%> / <%=type%></div>
                            <div id="post-views">조회수 <%=views%></div>
                            <div style="clear:both"></div>
                            <hr>
                        </div>
                        <div id="post-body">
                            <%=content%>
                        </div>
                        <hr>
                        <div id="post-thumbuparea">
                            <%=thumbup%><br>추천하기버튼
                        </div>
                        <% if(isLogined==0) { %>
                        <hr>
                        <div id="modify-or-update">
                            <form accept-charset="utf-8" name="delete-or-modify-data" method="post" onsubmit="return false">
                                <input type="hidden" name="id" value="<%=id%>">
                                <button type="button" class="btn btn-danger" id="delete-btn" name="delete" onclick="
                                javascript:
                                    if(confirm('정말로 삭제하시겠습니까?')){
                                        form.action='/view/delete';
                                        form.submit();
                                    }
                                ">삭제</button>
                                <button type="button" class="btn btn-primary" id="modify-btn" name="modify" onclick="
                                javascript:
                                    form.action='/update';
                                    form.submit();
                                ">수정</button>
                                <input type="password" id="delete-password" name="password" placeholder="비밀번호" required minlength="4" maxlength="20">
                            </form>
                        </div>
                        <% } %>
                    </div>
                </div>
                <%-include('inner-right')%>
            </div>
        </div>
    </body>
    <script src="/jq/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <srcipt src="javascripts/functions.js"></srcipt>
    <script src="javascripts/effect.js"></script>
</html>